Package: mokutil-key
Version: 1.40.08
Architecture: all
Maintainer: Michael L. Schaecher <mschaecher78@gmail.com>
Installed-Size: 40
Depends: sbsigntool, openssl, mokutil
Section: networking
Priority: optional
Homepage: https://www.github.com/mschaecher78/mokutil-key/
Description: Generate keys
 for signing custom kernel images and modules.
