Source: mokutil-key
Section: networking
Priority: optional
Maintainer: Michael L. Schaecher <mschaecher78@gmail.com>
Build-Depends: cp, gzip, dpkg
Homepage: https://www.github.com/mschaecher78/mokutil-key/

Package:mokutil-key
Architecture: all
Depends: sbsigntool, openssl, mokutil
Description: Generate keys
 for signing custom kernel images and modules.
